.card {
  background-color: rgb(60, 73, 153);
  border: 4px solid white;
  border-radius: 3mm;
  height: 400px;
  width: 300px;
  transition: box-shadow 0.3s;
  display: flex;
  overflow: hidden;
  margin-top: 30px;
  margin-left: 50px;
}
.cardImageContainer {
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.cardImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.detailContainer {
  background-color: rgb(60, 73, 153);
  width: 1380px;
  border-radius: 3mm;
  border: solid 4px white;
  display: flex;
}

.infoContainer {
  margin-left: 50px;
  margin-right: 50px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: right;
  font-family: "Helvetica Neue", sans-serif;
  color: #ffffff;
}

.name {
  font-size: 30pt;
  margin-bottom: -10px;
}

.idContainer {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 10pt;
  width: 300px;
  text-align: left;
}

.description {
  text-align: left;
  max-height: 235px;
  overflow: auto;
}

.descriptionTitle {
  margin-top: 30px;
  margin-bottom: 10px;
}

.others {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: -30px;
}
.othersGroup {
  margin-right: 130px;
}

.othersGroup:last-child {
  margin-right: 0;
}

.othersTitle {
  margin-top: 60px;
  margin-bottom: 3px;
}

.othersInfo {
  list-style: inside;
  padding: 0;
  margin-top: 2px;
  font-size: 14pt;
}

.loadingDiv {
  margin-left: 550px;
}

.loadingH1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30pt;
  font-weight: 300;
  color: #ffffff;
}

.deleteDiv {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 24, 24);
  border-radius: 2mm;
  border: solid white 2px;
  text-align: center;
  transition: border 0.3s;
  margin-bottom: 20px;
}

.deleteDiv:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: solid rgb(255, 24, 24) 2px;
}

.deleteH2 {
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.deleteContainer {
  background-color: rgb(60, 73, 153);
  width: 1380px;
  border-radius: 3mm;
  border: solid 4px white;
  display: flex;
  flex-direction: column;
}

.question {
  font-family: "Helvetica Neue", sans-serif;
  color: #ffffff;
  font-weight: 300;
}
.responseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.responseYes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2mm;
  border: solid white 1px;
  width: 100px;
  height: 30px;
  margin-right: 100px;
  cursor: pointer;
}
.responseNo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2mm;
  border: solid white 1px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}
.response {
  font-family: "Helvetica Neue", sans-serif;
  color: #ffffff;
  font-weight: 300;
}
.responseYes:hover,
.responseNo:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1.5);
  filter: brightness(110%);
}

.successMessageH1 {
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(174, 234, 89);
  font-weight: 300;
  font-size: 36pt;
}
.successMessageP {
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(174, 234, 89);
  font-weight: 300;
  font-size: 18pt;
  margin-top: -25px;
}

@media screen and (min-width: 1920px) and (max-width: 2000px) {
  .card {
    background-color: rgb(60, 73, 153);
    border: 4px solid white;
    border-radius: 3mm;
    height: 400px;
    width: 300px;
    transition: box-shadow 0.3s;
    display: flex;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 50px;
  }
  .cardImageContainer {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .cardImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .detailContainer {
    background-color: rgb(60, 73, 153);
    width: 1380px;
    border-radius: 3mm;
    border: solid 4px white;
    display: flex;
  }

  .infoContainer {
    margin-left: 50px;
    margin-right: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: right;
    font-family: "HelveticaNeue-Light", "HelveticaNeue Light", "HelveticaNeue";
    color: #ffffff;
  }

  .name {
    font-size: 30pt;
    margin-bottom: -10px;
  }

  .idContainer {
    color: #fff;
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 10pt;
    width: 300px;
    text-align: left;
  }

  .description {
    text-align: left;
    max-height: 235px;
    overflow: auto;
  }

  .descriptionTitle {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .others {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: -30px;
  }
  .othersGroup {
    margin-right: 130px;
  }

  .othersGroup:last-child {
    margin-right: 0;
  }

  .othersTitle {
    margin-top: 60px;
    margin-bottom: 3px;
  }

  .othersInfo {
    list-style: inside;
    padding: 0;
    margin-top: 2px;
    font-size: 14pt;
  }

  .loadingDiv {
    margin-left: 550px;
  }

  .loadingH1 {
    font-family: "HelveticaNeue-Light", "HelveticaNeue Light", "HelveticaNeue";
    font-size: 30pt;
    font-weight: lighter;
    color: #ffffff;
  }
  .deleteDiv {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 24, 24);
    border-radius: 2mm;
    border: solid white 2px;
    text-align: center;
    transition: border 0.3s;
    margin-bottom: 20px;
  }

  .deleteDiv:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: solid rgb(255, 24, 24) 2px;
  }

  .deleteH2 {
    color: rgb(255, 255, 255);
    font-weight: 400;
  }

  .deleteContainer {
    background-color: rgb(60, 73, 153);
    width: 1380px;
    border-radius: 3mm;
    border: solid 4px white;
    display: flex;
    flex-direction: column;
  }

  .question {
    font-family: "HelveticaNeue-Light", "HelveticaNeue Light", "HelveticaNeue";
    color: #ffffff;
    font-weight: 300;
  }
  .responseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .responseYes {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2mm;
    border: solid white 1px;
    width: 100px;
    height: 30px;
    margin-right: 100px;
    cursor: pointer;
  }
  .responseNo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2mm;
    border: solid white 1px;
    width: 100px;
    height: 30px;
    cursor: pointer;
  }
  .response {
    font-family: "HelveticaNeue-Light", "HelveticaNeue Light", "HelveticaNeue";
    color: #ffffff;
    font-weight: 300;
  }
  .responseYes:hover,
  .responseNo:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1.5);
    filter: brightness(110%);
  }

  .successMessageH1 {
    font-family: "HelveticaNeue-Light", "HelveticaNeue Light", "HelveticaNeue";
    color: rgb(174, 234, 89);
    font-weight: 300;
    font-size: 36pt;
  }
  .successMessageP {
    font-family: "HelveticaNeue-Light", "HelveticaNeue Light", "HelveticaNeue";
    color: rgb(174, 234, 89);
    font-weight: 300;
    font-size: 18pt;
    margin-top: -25px;
  }
}
