.danger {
  font-weight: bold;
  font-size: 14px;
  color: rgb(255, 238, 0);
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.formContainer {
  background-color: rgb(60, 73, 153);
  width: 1000px;
  height: 600px;
  border-radius: 3mm;
  border: solid 4px white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue", sans-serif;
  color: #ffffff;
  font-size: 14pt;
}

.leftColumnContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  width: 380px;
  height: 530px;
}

.rightColumnContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  width: 460px;
  height: 530px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 124.6px;
}

.leftContainerDescription {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 290px;
}

.leftInput {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2mm;
  width: 378px;
  height: 35px;
  margin-top: 10px;
}

.descriptionInput {
  border: 1px solid #fff;
  border-radius: 2mm;
  margin-top: 10px;
  width: 378px;
  height: 183px;
}

.rightInput {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2mm;
  width: 200px;
  height: 35px;
  margin-top: 10px;
}

.checkboxContainer {
  display: flex;
  justify-content: flex-start;
  height: 200px;
}

.platformsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.checkboxLeftContainer {
  width: 230px;
}

.checkboxLeft {
  margin-top: 10px;
  border: solid white 1px;
  box-sizing: border-box;
  border-radius: 2mm;
  max-height: 165px;
  overflow-y: auto;
  width: 203px;
}

.checkboxRightContainer {
  width: 230px;
  margin-left: 15px;
}

.checkboxRight {
  border: solid white 1px;
  box-sizing: border-box;
  border-radius: 2mm;
  max-height: 165px;
  overflow-y: auto;
  margin-top: 10px;
  width: 203px;
}

.genresLabel {
  margin-left: 15px;
}

.checkboxOptions {
  display: flex;
  font-family: "Helvetica Neue", sans-serif;
  color: #ffffff;
  font-size: 11pt;
}

.checkboxLabels {
  margin-left: 5px;
}

.rightBottomContainer {
  display: flex;
  width: 455px;
  height: 400px;
}

.rightBottomColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-top: 7px;
}

.buttonContainer {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-top: 110px;
  margin-left: 70px;
  width: 100px;
  height: 40px;
  background-color: rgb(101, 150, 27);
  border-radius: 2mm;
  border: solid white 1px;
  color: white;
  font-size: 16pt;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(81, 120, 21);
}

.button:active {
  background-color: rgb(71, 110, 17);
}

.successContainer {
  background-color: rgb(60, 73, 153);
  width: 1000px;
  height: 600px;
  border-radius: 3mm;
  border: solid 4px white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.successMessage {
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(174, 234, 89);
  font-weight: 300;
  font-size: 30pt;
}

@media screen and (min-width: 1920px) and (max-width: 2000px) {
  .danger {
    font-weight: bold;
    font-size: 14px;
    color: rgb(255, 238, 0);
  }

  .pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .formContainer {
    background-color: rgb(60, 73, 153);
    width: 1000px;
    height: 600px;
    border-radius: 3mm;
    border: solid 4px white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: "HelveticaNeue-Light", "HelveticaNeue Light", "HelveticaNeue";
    color: #ffffff;
    font-size: 16pt;
  }

  .leftColumnContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    width: 380px;
    height: 530px;
  }

  .rightColumnContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    width: 460px;
    height: 530px;
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 124.6px;
  }

  .leftContainerDescription {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 290px;
  }

  .leftInput {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 2mm;
    width: 378px;
    height: 35px;
    margin-top: 10px;
  }

  .descriptionInput {
    border: 1px solid #fff;
    border-radius: 2mm;
    margin-top: 10px;
    width: 378px;
    height: 183px;
  }

  .rightInput {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 2mm;
    width: 200px;
    height: 35px;
    margin-top: 10px;
  }

  .checkboxContainer {
    display: flex;
    justify-content: flex-start;
    height: 200px;
  }

  .platformsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .checkboxLeftContainer {
    width: 230px;
  }

  .checkboxLeft {
    margin-top: 10px;
    border: solid white 1px;
    box-sizing: border-box;
    border-radius: 2mm;
    max-height: 165px;
    overflow-y: auto;
    width: 203px;
  }

  .checkboxRightContainer {
    width: 230px;
    margin-left: 15px;
  }

  .checkboxRight {
    border: solid white 1px;
    box-sizing: border-box;
    border-radius: 2mm;
    max-height: 165px;
    overflow-y: auto;
    margin-top: 10px;
    width: 203px;
  }

  .genresLabel {
    margin-left: 15px;
  }

  .checkboxOptions {
    display: flex;
    font-family: "HelveticaNeue-Light", "HelveticaNeue Light", "HelveticaNeue";
    color: #ffffff;
    font-size: 11pt;
  }

  .checkboxLabels {
    margin-left: 5px;
  }

  .rightBottomContainer {
    display: flex;
    width: 455px;
    height: 400px;
  }

  .rightBottomColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin-top: 7px;
  }

  .buttonContainer {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    margin-top: 110px;
    margin-left: 70px;
    width: 100px;
    height: 40px;
    background-color: rgb(101, 150, 27);
    border-radius: 2mm;
    border: solid white 1px;
    color: white;
    font-family: "HelveticaNeue-Bold", "HelveticaNeue Bold", "HelveticaNeue";
    font-size: 16pt;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: rgb(81, 120, 21);
  }

  .button:active {
    background-color: rgb(71, 110, 17);
  }

  .successContainer {
    background-color: rgb(60, 73, 153);
    width: 1000px;
    height: 600px;
    border-radius: 3mm;
    border: solid 4px white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .successMessage {
    font-family: "HelveticaNeue-Light", "HelveticaNeue Light", "HelveticaNeue";
    color: rgb(174, 234, 89);
    font-size: 30pt;
  }
}
