.cardList {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.searchInput {
  margin-right: 400px;
  margin-top: 30px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2mm;
  width: 300px;
  height: 25px;
}

.searchButton {
  color: #ffffff;
  border: none;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14pt;
  font-weight: bold;
  margin-top: 1px;
  margin-left: 20px;
  transition: color 0.3s;
}

.searchButton:hover {
  color: rgb(60, 73, 153);
}

.searchButtonFrame {
  margin-left: 690px;
  margin-top: -28.5px;
  width: 220px; /* Ancho */
  height: 26px; /* Alto */
  background: transparent; /* Sin color de fondo */
  border: 1px solid #fff; /* Borde blanco fino */
  border-radius: 2mm; /* Bordes redondeados de 2mm */
  cursor: pointer;
}

.refreshButton {
  color: #ffffff;
  border: none;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14pt;
  font-weight: bold;
  margin-top: 1px;
  transition: color 0.3s;
}

.refreshButton:hover {
  color: rgb(60, 73, 153);
}

.refreshButtonFrame {
  margin-left: 1290px;
  margin-top: -85px;
  width: 150px; /* Ancho */
  height: 26px; /* Alto */
  background: transparent; /* Sin color de fondo */
  border: 1px solid #fff; /* Borde blanco fino */
  border-radius: 2mm; /* Bordes redondeados de 2mm */
  cursor: pointer;
}

.filterContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.selectorButton {
  text-align: center;
  background: transparent;
  border: 1px solid #fff; /* Borde blanco fino */
  border-radius: 1mm; /* Bordes redondeados de 2mm */
  height: 27px;
  width: 270px;
  margin: 0 50px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14pt;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.3s;
  transition: border 0.3s;
  cursor: pointer;
}

.selectorButton:hover {
  background-color: rgb(60, 73, 153);
  border: 1px solid rgb(60, 73, 153);
}

.paginationContainer {
  margin-left: 700px;
  margin-top: -60px;
  display: flex;
  justify-content: center;
}

.paginationButton {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24pt;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  margin: 0 25px;
  margin-top: 23px;
  transition: color 0.3s;
}

.paginationPage {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14pt;
  font-weight: bold;
  color: #ffffff;
  margin-top: 33px;
}

.paginationButton:hover {
  color: rgb(60, 73, 153);
}

.loadingDiv {
  margin-top: 300px;
}

.loadingH1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30pt;
  color: #ffffff;
}
